<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Revelation of Audience Response</title>

</head>
<body>
    <section class="signup-section">
        <h1>Youtube Comment Analysis</h1>
        <h2>Sign Up</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <label for="email/name">Email/Username:</label>
            <input type="email" id="email/name" formControlName="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password" required>
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
            <button type="submit" [disabled]="registerForm.invalid">Sign Up</button>
        </form>
        <p class="text-xl">Already have an account? <a href="/auth/login">Sign In</a>.</p>
    </section>
    <footer>
        <p>&copy; 2025 Revelation of Audience Response. All rights reserved.</p>
    </footer>
</body>
</html>