<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Revelation of Audience Response</title>
    
</head>
<body>

    <!-- Sign-Up Form Section -->
    <section class="signup-section">
         <h1>Youtube Comment Analysis</h1>
        <h2>Sign Up</h2>
        <form action="/signup" method="POST">
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="name">Username:</label>
            <input type="text" id="name" name="name" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Create Account</button>
        </form>

        <p>Already have an account? <a href="/login">Log in here</a>.</p>
    </section>

    <footer>
        <p>&copy; 2024 Revelation of Audience Response. All rights reserved.</p>
    </footer>
</body>
</html>