<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Revelation of Audience Response</title>
    <link rel="stylesheet" href="fypcss.css">
    
</head>
<body>

    <!-- Sign-Up Form Section -->
    <section class="signup-section">
         <h1>Youtube Comment Analysis</h1>
        <h2>Sign In</h2>
        <form action="/signin" method="POST">
            
            <label for="email/name">Email/Username:</label>
            <input type="email/text" id="email/name" name="email/name" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Sign In</button>
        </form>

        <p>Create a new account? <a href="/signup">Sign up</a>.</p>
    </section>

    <footer>
        <p>&copy; 2024 Revelation of Audience Response. All rights reserved.</p>
    </footer>
</body>
</html>