body {
    font-family: Arial, sans-serif;
    background-image: url("file:///C:/Users/new1/Downloads/7-tips-corporate-designs-ideas.webp");
    margin: 0;
    padding: 0;
}


.signup-section {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(245, 227, 227, 0.178); /* Slightly transparent white */
    backdrop-filter: blur(10px); /* Blur effect */
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
h1{
    text-align: center;
    
}
h2 {
    text-align: center;
    color: #F17272;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #F17272;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #cc0000;
}

p {
    text-align: center;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
}