<div class="">
    <div class="flex align-items-center justify-content-end pendingStudents-header">
        <img (click)="closeModal()" src="assets/images/times.svg" class="cursor-pointer" />
    </div>
    <div class="flex flex-column gap-16 pendingStudents-bodyContent">
        <div class="notifications-img flex flex-column align-items-center gap-10">
            <h2 class="size-34 we-4 text-white line-height-36 m-0">New registration request from students</h2>
            <img src="/assets/images/notification4.png" />
        </div>
        <p-table [scrollable]="true" report [value]="students" class="no-border-table p-table-announcements">
            <ng-template pTemplate="header">
                <tr>
                    <th class="size-16 we-7 color-black2 line-height-24 letter-spacing2 table-th1">
                        <b>Student Name</b>
                    </th>
                    <th class="size-16 we-7 color-black2 line-height-24 letter-spacing2 table-th2">
                        <b>Email</b>
                    </th>
                    <th class="size-16 we-7 color-black2 line-height-24 letter-spacing2 table-th3">
                        <b>Phone</b>
                    </th>
                    <th class="size-16 we-7 color-black2 line-height-24 letter-spacing2 table-th4">
                        <b>Class</b>
                    </th>
                    <th class="size-16 we-7 color-black2 line-height-24 letter-spacing2 text-center table-th5">
                        <b>Action</b>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-student let-rowIndex="rowIndex">
                <tr>
                    <td class="table-td1">
                        <p class="size-14 we-4 color-black2 line-height-16 letter-spacing4 my-0">
                            {{ student.firstName + " " + student.lastName }}
                        </p>
                    </td>
                    <td class="table-td2">
                        <p class="size-14 we-5 color-black2 line-height-16 letter-spacing4 my-0">
                            {{ student.email }}
                        </p>
                    </td>
                    <td class="table-td3">
                        <p class="size-16 we-4 color-black2 line-height-24 letter-spacing2 my-0">
                            {{ student.phoneNumber }}
                        </p>
                    </td>
                    <td class="table-td4">
                        <p class="size-16 we-4 color-black2 line-height-24 letter-spacing2 my-0">
                            {{ student.className }}
                        </p>
                    </td>
                    <td class="table-td5">
                        <p-button
                            label="Accept"
                            styleClass="size-14 we-5 primary-btn justify-content-center uppercase letter-spacing7"
                            (click)="notificationAction(student)"></p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7" class="text-center">No records found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
