.pendingStudents-header {
    img {
        width: 2.4rem;
        height: 2.4rem;
    }
}

::ng-deep {
    .pendingStudents-bodyContent {
        margin-bottom: 1.6rem;

        .fields-area {
            .description-subject {
                background: #edf1fa;
                border-radius: .4rem;

                input {
                    padding: 0 40rem;
                    font-size: 1.6rem;
                    text-transform: capitalize;
                    background: transparent;
                }

            }
        }

        .pendingStudents-classDropdownInput {
            margin: 0;

            .classDropdown {
                flex: 28.5% 0 0;
            }

            .classInput {
                flex: 1;
                overflow-x: hidden;
            }
        }

        .notifications-img {
            height: 20rem;
            background: #73621C;
            margin-top: 1.6rem;
            padding: 1rem;
            border-radius: 1rem;

            img {
                width: 11rem;
            }
        }

        .pi-bell {
            filter: brightness(0) saturate(100%) invert(22%) sepia(100%) saturate(1786%) hue-rotate(357deg) brightness(93%) contrast(95%);
        }

        .p-datatable-tbody {
            margin-top: 1rem;
        }

        .no-border-table .p-datatable .p-datatable-thead th:first-child {
            padding-left: .8rem;
        }

        .p-datatable .p-datatable-thead>tr>th {
            padding: 1.4rem .8rem;
            height: 6.4rem;
        }

        .p-datatable .p-datatable-tbody>tr>td {
            padding: 1.4rem .8rem;
            height: 6.4rem;
        }
    }

    .pendingStudents-footer {
        .p-button.p-button-outlined {
            width: 17.2rem;
            padding: 1rem;
            border: .1rem solid #bf360c;
        }

        .primary-btn {
            box-shadow: none;
            width: 17.2rem;
            padding: 1.1rem 1rem;

            span {
                padding: 0;
            }
        }
    }
}