.sidebar-menu {
    border: none !important;
}

::ng-deep {
    .p-sidebar-header {
        padding: 1.6rem;
    }

    .teacherSidebar-header {
        .teacherSidebar-avatar {
            img {
                width: 6.5rem;
                height: 6.5rem;
                min-width: 6.5rem;
                min-height: 6.5rem;
                border-radius: 100%;
                object-fit: cover;
            }
        }

        p {
            color: #616161;
            line-height: 1;
        }

        .teacherSidebar-progressBar {
            p-progressBar {
                width: 100%;

                .p-progressbar {
                    border: 0 none;
                    height: .4rem;
                    background: rgba(63, 81, 181, 0.32);
                    border-radius: 1rem !important;
                }

                .p-progressbar-value {
                    background: #E64A19;
                    border-radius: 1rem;
                }
            }

            span {
                display: block;
                color: #BF360C;
                line-height: 1;
            }
        }
    }
}

:host ::ng-deep {
    .custom-class-icon {
        background-image: url("../../../../../assets/images/classes.svg");
    }

    .custom-person-icon {
        background-image: url("../../../../../assets/images/profile-icon.svg");
    }

    .custom-dashboard-icon {
        background-image: url("../../../../../assets/pi-Icons/dashboard-icon.svg");
    }

    .custom-class-setup-icon {
        background-image: url("../../../../../assets/images/class-setup.svg");
    }

    .custom-class-schedule-icon {
        background-image: url("../../../../../assets/images/class-schedule.svg");
    }

    .custom-class-students-icon {
        background-image: url("../../../../../assets/images/class-student.svg");
    }

    .custom-class-share-icon {
        background-image: url("../../../../../assets/images/class-share.svg");
    }

    .custom-class-upcoming-icon {
        background-image: url("../../../../../assets/images/class-upcoming.svg");
    }

    .custom-class-past-icon {
        background-image: url("../../../../../assets/images/class-past.svg");
    }

    .custom-calendar-icon {
        background-image: url("../../../../../assets/images/calendar.svg");
    }

    .custom-message-icon {
        background-image: url("../../../../../assets/images/messages.svg");
    }

    .custom-reports-icon {
        background-image: url("../../../../../assets/images/reports.svg");
    }

    .custom-logout-white-icon {
        background-image: url("../../../../../assets/images/logout-white.svg");
    }

    .custom-icon-class {
        width: 2.4rem;
        height: 2.4rem;
        background-size: 2.4rem;
        background-position: center;
        background-repeat: no-repeat;
    }


    .p-sidebar {
        position: relative;
        box-shadow: none;
        height: 100%;
        background: #EDF1FA;
        border-radius: 1.6rem;

        h2 {
            background: linear-gradient(90deg, #D84315 0%, #FF7043 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            letter-spacing: .8rem;
            font-weight: 500;
            text-transform: uppercase;
            text-align: center;
            width: 100%;
            padding: 4.2rem 0;
            line-height: 1;
        }

        .p-sidebar-content {
            height: calc(100vh - 6.4rem - 14rem);
            overflow: auto;
            width: 99%;
            margin-right: .2rem;
            margin-bottom: 0;
            padding: 0 1.4rem 1.6rem 1.6rem;

            &::-webkit-scrollbar {
                width: .5rem;
            }

            &::-webkit-scrollbar-track {
                background: #EDF1FA;
                border-radius: .6rem;
            }

            &::-webkit-scrollbar-thumb {
                background: #BF360C;
                border-radius: .6rem;
            }

            .p-panelmenu-panel {
                width: 100%;
                background: transparent;
                border: none;
                color: #EDF1FA;
                padding: 0;
                font-size: 1.4rem;
                box-shadow: none;
                margin-bottom: 1.6rem;

                .p-panelmenu-header .p-panelmenu-header-content {
                    background: transparent;

                    .p-panelmenu-header-action {
                        padding: .6rem .6rem .6rem .8rem;
                        letter-spacing: 1.25px;
                        border-radius: .6rem;

                        // &:focus,
                        // &:hover {
                        //     background: #E64A19;
                        // }

                        .p-menuitem-icon {
                            color: #E64A19;
                            margin: 0;
                            filter: brightness(0) saturate(100%) invert(29%) sepia(83%) saturate(1652%) hue-rotate(351deg) brightness(102%) contrast(97%);

                        }

                        .p-menuitem-text {
                            color: #E64A19;
                            padding: .4rem .6rem .4rem .6rem;
                            line-height: 1.6rem;
                            text-transform: uppercase;
                            font-size: 1.4rem;
                            font-weight: 500;
                            font-family: 'Roboto';
                            letter-spacing: 1.25px;
                        }

                        &.p-menuitem-link-active {
                            background: #E64A19;

                            .p-menuitem-icon,
                            .p-menuitem-text,
                            .p-submenu-icon {
                                color: #FFF;
                            }

                            .p-menuitem-icon,
                            .p-submenu-icon {
                                filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5274%) hue-rotate(43deg) brightness(109%) contrast(104%);
                            }
                        }

                        .p-submenu-icon {
                            color: #EDF1FA;
                            width: 1.2rem;
                        }
                    }
                }

                .p-panelmenu-header {

                    &.p-highlight {

                        .p-panelmenu-header-action {
                            background: #E64A19;
                            border-bottom-left-radius: .6rem !important;
                            border-bottom-right-radius: .6rem !important;

                            .p-menuitem-icon,
                            .p-menuitem-text,
                            .p-submenu-icon {
                                color: #E64A19;
                            }

                            .p-menuitem-icon,
                            .p-submenu-icon {
                                filter: invert(54%) sepia(81%) saturate(5072%) hue-rotate(352deg) brightness(100%) contrast(70%);
                            }
                        }
                    }
                }

                li {
                    margin-bottom: 0.5rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .p-panelmenu .p-panelmenu-content .p-menuitem>.p-menuitem-content .p-menuitem-link {
            padding: .8rem;
            font-weight: 500;

            &:hover,
            &.p-menuitem-link-active {
                background: #000;
                border-radius: .4rem;
            }

            &.p-menuitem-link-active {

                .p-menuitem-icon {
                    filter: brightness(0) saturate(100%) invert(50%) sepia(68%) saturate(6873%) hue-rotate(356deg) brightness(96%) contrast(87%);
                }

                .p-menuitem-text {
                    color: #E64A19;
                }

            }
        }

        .p-panelmenu .p-panelmenu-content .p-menuitem>.p-menuitem-content .p-menuitem-link .p-menuitem-icon {
            color: #EDF1FA;
        }

        .p-panelmenu .p-panelmenu-content .p-menuitem>.p-menuitem-content .p-menuitem-link .p-menuitem-text {
            color: #EDF1FA;
        }

        .p-sidebar-footer {
            display: none;
        }

        .p-panelmenu .p-panelmenu-content {
            padding: 0.5rem;
            background: #212121;
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                height: .1rem;
                background: #fff;
                opacity: 0.08;
                top: 0;
                width: calc(100% - 1.6rem);
                left: 50%;
                transform: translate(-50%, 0%);
            }
        }
    }

}

// ::ng-deep .p-sidebar{
//     position: unset !important;
//     box-shadow:none !important;
//     background-color:  rgb(255, 255, 255)!important;
//     margin-top: -8px !important;
//     margin-left: -9px !important;
//     width: 100% !important;
// }

// ::ng-deep .p-menu {
//     background-color: rgb(255, 255, 255) !important;
//     border: none;
// }

@media (max-width: 1200px) {

    ::ng-deep {

        .vidvan-site-layout .vidvan-sidebar {

            .p-sidebar {
                width: 290px;
            }
        }
    }
}