.sidebar {
    background-color: #e74c3c;
    width: 250px;
    height: 100vh;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    color: white;
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebar li:hover, .sidebar .active {
    background-color: #c0392b;
    border-radius: 5px;
}

.icon {
    margin-right: 10px;
    font-size: 18px;
}
