.header {
    background-color: #e74c3c;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.user-info {
    display: flex;
    align-items: center;
}

.date-time {
    margin-right: 10px;
    font-size: 14px;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}