<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>

</head>

<body>

    <div class="settings-container">
        <div class="settings-section">
            <h3 class="section-title disabled">Account Settings</h3>
            <div class="settings-item">
                <span>Edit profile</span>
                <span class="arrow">&#10095;</span>
            </div>
            <div class="settings-item">
                <span>Change password</span>
                <span class="arrow">&#10095;</span>
            </div>
        </div>

        <div class="settings-section">
            <h3 class="section-title disabled">More</h3>
            <div class="settings-item">
                <span>About us</span>
                <span class="arrow">&#10095;</span>
            </div>
            <div class="settings-item">
                <span>Privacy policy</span>
                <span class="arrow">&#10095;</span>
            </div>
            <div (click)="globalService.goToPage('teacher/terms-and-conditions')" class="settings-item">
                <span>Terms and conditions</span>
                <span class="arrow">&#10095;</span>
            </div>
        </div>
    </div>

</body>

</html>