::ng-deep {
    .teacherDashboard-content {
        height: 100%;

        .notificationsVidvan-card {
            .p-card {
                margin: .2rem;
                color: transparent;
                background: #ffffff;
                border-radius: 1rem;
                box-shadow: rgba(0, 0, 0, 0.1) 0px .2rem .8rem 0px;
            }

            .p-card-body {
                padding: .6rem 0 1.6rem;
            }

            .p-card-content {
                padding: 0 1.2rem;
            }

            .p-card-footer {
                padding: 1rem 1.6rem 0;
            }
        }

        .totalClass-vidvanCard {
            .p-card {
                margin: .2rem;
                color: transparent;
                background: #ffffff;
                border-radius: 1rem;
                box-shadow: rgba(0, 0, 0, 0.1) 0px .2rem .8rem 0px;
            }

            .p-card-body {
                padding: 1.6rem;
            }

            .p-card-content {
                padding: 0;
            }

            .totalClass-div {
                gap: 2.5rem;
                justify-content: space-between;
                overflow-y: hidden;
                overflow-x: auto;

                &::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                }
            }

            .totalClass-card {
                flex: 1;
                max-width: 27%;
                min-width: 28.7rem;
                padding: 2.1rem 2.5rem;
                gap: 2.5rem;
                background: #EDF1FA;
                border-radius: 1.2rem;

                button {
                    padding: 0;
                }
            }
        }

        .activeCard {
            border: .2rem solid #E64A19;
        }
    }
}

.totalClass-cardimg{
    img{
        width: 6.8rem;
        height: 6.8rem;
    }
}

.teacherDashboard-content::-webkit-scrollbar-thumb {
    background: transparent;
}

.teacherDashboard-content:hover {
    &::-webkit-scrollbar-thumb {
        background: #ccc;
    }
}

@media (max-width: 991px) {
    ::ng-deep {
        .teacherDashboard-content {
            .notifications-card {

                .notifications-cardImg {
                    width: 100%;
                    flex: 1 1 auto;
                }

                .notifications-bodyCard {
                    width: 100%;
                    flex: 1 1 auto;
                }
            }
        }

    }
}