<div class="teacherDashboard-content flex flex-column gap-20">
    <p-card class="vidvan-card block">
        <div class="flex flex-column gap-8px">
            <h2 class="size-34 we-4 color-black3 m-0">Hello, {{ globalService.user.firstName }}</h2>
            <div class="flex align-items-center gap-16">
                <p class="size-14 we-4 color-gray6 m-0">Member Since</p>
                <div class="flex align-items-center gap-4px">
                    <img src="/assets/pi-Icons/p-calendar.svg" />
                    <p class="size-14 we-4 natural-black m-0">
                        {{ globalService.user.createdAt | date: "dd MMM, YYYY" }}
                    </p>
                </div>
            </div>
        </div>
    </p-card>

    <p-card class="notificationsVidvan-card">
        <ng-template pTemplate="content">
            <app-teacher-latest-sessions
                [students]="allPendingStudents"
                [notifications]="notifications"
                [isCalendar]="false"></app-teacher-latest-sessions>
        </ng-template>
    </p-card>

    <p-card class="totalClass-vidvanCard">
        <div class="flex align-content-center totalClass-div">
            <div class="flex align-items-center totalClass-card">
                <div class="totalClass-cardimg">
                    <img src="/assets/images/my-class.png" alt="my-class" />
                </div>
                <div class="flex flex-column gap-8px">
                    <h3 class="size-48 we-4 m-0 natural-black line-height-56">{{ classesInfo.total_classes }}</h3>
                    <p-button
                        styleClass="size-14 we-5 color-primary line-height-16 letter-spacing4 uppercase"
                        [text]="true"
                        label="My Classes" />
                </div>
            </div>

            <div class="flex align-items-center totalClass-card">
                <div class="totalClass-cardimg">
                    <img src="/assets/images/my-student.png" alt="my-class" />
                </div>
                <div class="flex flex-column gap-8px">
                    <h3 class="size-48 we-4 m-0 natural-black line-height-56">{{ classesInfo.total_students }}</h3>
                    <p-button
                        (click)="globalService.goToPage('/teacher/all-students')"
                        styleClass="size-14 we-5 color-primary line-height-16 letter-spacing4 uppercase"
                        [text]="true"
                        label="MY STUDENTs" />
                </div>
            </div>

            <div class="flex align-items-center totalClass-card">
                <div class="totalClass-cardimg">
                    <img src="/assets/images/fees-earned.png" alt="my-class" />
                </div>
                <div class="flex flex-column gap-8px">
                    <h3 class="size-48 we-4 m-0 natural-black line-height-56">
                        ${{ classesInfo?.total_earnings }}
                    </h3>
                    <p-button
                        styleClass="size-14 we-5 color-primary line-height-16 letter-spacing4 uppercase"
                        [text]="true"
                        label="Fees Earned" />
                </div>
            </div>
        </div>
    </p-card>
</div>