<main class="home-content">
    <div class="search-bar">
        <input type="text" placeholder="Enter YouTube Video URL" [formControl]="urlControl">
        <button class="analyze-btn" (click)="analyzeUrl()">Analyze</button>
    </div>

    <div *ngIf="urlControl.touched && urlControl.invalid" class="error-message">
        Enter a valid Youtube URL.
    </div>

    <div class="alert">⚠️ Comment analysis only works for English comments.</div>
    
    <div class="container">
        <div class="section"></div>
        <div class="section"></div>
    </div>

    <div class="info-boxes">
        <div class="box">
            <h3>Welcome</h3>
            <p>Your go-to tool for analyzing audience responses.</p>
        </div>
        <div class="box">
            <h3>How It Works</h3>
            <p>Enter a YouTube URL to get sentiment and engagement analysis.</p>
        </div>
        <div class="box">
            <h3>Get Started</h3>
            <p>Start by entering a video link to explore insights.</p>
        </div>
    </div>
</main>