body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}



.content {
    margin-left: 90px;
    width: calc(100% - 220px);
    padding: 20px;
}

.top-bar {
    background: #d9534f;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    position: fixed;
    width: calc(100% - 220px);
    top: 0;
    left: 220px;
}

.video-info {
    background-color: #f05454;
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-top: 20px;
    font-size: 1.2em;
}

.video-thumbnail {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

.overview {
    text-align: center;
    margin-top: 30px;
}

.metrics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.metric {
    background: #d9534f;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
}
